.about-section {
  padding: 20px 40px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    font-size: 22px;
    margin-top: 10%;
  }

  @media only screen and (min-width: 1224px) {
    font-size: 22px;
    max-width: 90%;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 90%;
  }
}

.about-image {
  width: 200px;
}

.about-heading {
  font-size: 1.85em;

  @media only screen and (min-width: 768px) {
    font-size: 2.6em;
  }

  // @media only screen and (min-width: 1224px) {
  //   font-size: 2.6em;
  // }
}

.about-paragraph, .about-contact-wrapper {
  max-width: 100%;
  text-align: left;
  width: 850px;

  @media only screen and (min-width: 1224px) {
  }
}

.about-contact-wrapper {
  // font-size: 1em;
}

.about-contact-message {
  display: block;
  margin-bottom: 8px;

  @media only screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 5px;
  }
}

.about-contact-link {
  display: block;
  margin-bottom: 22px;
}
