.contact {
  position: relative;
  text-align: left;
  line-height: 2;
}

.contact-links {
  display: inline-block;

  &.nav-contact-links {
    color: red;
    font-size: .9em;
  }
}

.contact-link {
  color: $grey-super-dark;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  margin-right: 15px;

  &:hover {
    color: black;
  }
}

.contact-footer {
  bottom: 0;
  left: 50%;
  margin-bottom: 20px;
  position: absolute;
  transform: translateX(-50%);
  // @include transform() {
  //
  // }
}
