.divider {
  font-weight: 300;
  color: $grey-medium;
  font-size: 45px;
  margin-top: 20px;
}

.divider-line {
  border-bottom: 4px solid $grey-light;
  display: inline-block;
  margin-bottom: 4px;
  width: 40%;
}

.divider-title{
  display: inline-block;
  padding-left: 20px;
}
