.divider {
  font-weight: 300;
  color: $grey-medium;
  display: flex;
  font-size: 3em;
  opacity: .7;

  @media only screen and (min-width: 768px) {
    font-size: 3.4em;
    padding-right: 10px;
  }

  &.divider-projects {
    margin-top: 20px;
    margin-right: 25px;

    @media only screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }

  &.divider-about-mobile {
     @include hide();
  }
}

.divider-line {
  display: inline-block;
  border-bottom: 4px solid $grey-light;
  width: 100%;
  margin-bottom: 15px;

  &.divider-line-about {
    width: 20%;
  }

  &.divider-line-about-mobile {
    width: 26%;
  }
}

.divider-title {
  padding-left: 20px;
}
