.hero-section {
  background-image: url(https://cdn-files.apstatic.com/climb/106190995_large_1494086790.jpg);
  background-position: 74% 0%;
  background-repeat: no-repeat;
  background-size: 410%;
  height: 100%;
  font-weight: 400;
  padding-top: 390px;
  width: 100%;

  @media only screen and (min-width : 768px) {
    font-weight: 300;
    padding-top: 710px;
  }
}

.hero-headings-wrapper {
  position: relative;
  height: 150px;
}

.hero-headshot {
  bottom: 40px;
  display: none;
  left: 16px;
  opacity: 1;
  position: absolute;
  width: 245px;
  z-index: 100;

  @media only screen and (min-width : 768px) {
    display: block;
  }
}

.hero-heading-bar-wrapper {
  @media only screen and (min-width : 768px) {
    margin-left: 100px;
  }
}

.hero-heading-bar {
  background-color: white;
  color: #212121;
  font-size: 1.2em;
  opacity: 0.7;
  padding-top: 10px;
  padding-bottom: 0.2em;
  position: absolute;
  top: 0;
  padding-right: 1.2em;
  width: 270px;
  text-align: right;

  @media only screen and (min-width : 768px) {
    width: 60%;
  }
}

.hero-subheading-bar {
  background-color: black;
  color: white;
  font-size: 1.2em;
  opacity: 0.7;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 1.5em;
  position: absolute;
  top: 48px;
  width: 83%;
  text-align: right;

  @media only screen and (min-width : 768px) {
    top: 60px;
    width: 80%;
  }

}

.hero-subheading-location {
  font-style: italic;
}
