.hero-section {
  background-image: url(https://cdn-files.apstatic.com/climb/106190995_large_1494086790.jpg);
  // background-image: url('/images/lovers-leap-background.png');
  background-position: 74% 0%;
  background-repeat: no-repeat;
  // background-size: 410%;
  background-size: cover;
  height: 100%;
  font-weight: 400;
  padding-top: 70vh;
  font-size: 1.2em;
  width: 100%;

  @media only screen and (min-width: 700px) {
    font-size: 1.4em;
  }

  @media only screen and (min-width : 1024px) {
    // font-size: 1.5em;
  }
}

.hero-headings-wrapper {
  position: relative;
  max-width: 525px;

  @media only screen and (min-width: 500px) {
    margin-left: 2%;
  }

  @media only screen and (min-width: 700px) {
    max-width: 575px;
  }
}

.hero-headshot {
  bottom: -9999px;
  left: -9999px;
  position: absolute;
  z-index: 100;

  @media only screen and (min-width : 480px) {
    left: 0;
    bottom: -3;
    width: 170px;
  }

  @media only screen and (min-width: 550px) {
    width: 200px;
  }
}


.hero-heading-bar-wrapper {
  @media only screen and (min-width : 480px) {
    margin-left: 100px;
  }
}

.hero-heading-bar {
  background-color: white;
  color: #212121;
  opacity: 0.7;
  padding-top: 10px;
  padding-bottom: 0.2em;
  padding-right: 1.2em;
  width: 80%;
  text-align: right;

  @media only screen and (min-width : 480px) {
    padding-right: 20px;
    width: 85%;
  }

  @media only screen and (min-width: 550px) {
    max-width: 600px;
  }
}

.hero-subheading-bar {
  background-color: black;
  color: white;
  font-size: .8em;
  margin-top: 15px;
  opacity: 0.7;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 1.5em;
  width: 83%;
  text-align: right;

  @media only screen and (min-width : 480px) {
    width: 96%;
    padding-right: 20px;
  }
}

.hero-subheading-location {
  font-style: italic;
}
