.nav {
  color: $black-faded;
  font-weight: 300;
  line-height: 50px;
  overflow: hidden;
  padding-top: 50px;
  position: fixed;
  transition: height .4s ease;
  width: 100%;
  z-index: 1000;

  @media only screen and (min-width: $breakpoint-show-nav) {
    border-bottom: none;
    line-height: 1;
    padding: 15px 0;
  }

  @media only screen and (min-width: 1224px) {
    font-size: 18px;
  }

  &.has-background {
    background-color: black;
    color: white;
    opacity: .8;
    transition: background-color .5s ease;
  }

  &.is-active {
    background-color: white;
    border-bottom: 1px solid #f7f8f8;
    box-shadow: 0 0 50px -10px rgba(0,31,48,.2);
    height: 125px;
    opacity: .9;
    padding-top: 20px;
  }
}

.nav-container {
  @media only screen and (min-width: $breakpoint-show-nav) {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 100px;
  }
}

.nav-left, .nav-right {
  border: 1px solid $test-border-color;

  @media only screen and (min-width: $breakpoint-show-nav) {
    width: 50%;
  }
}

.nav-left {
  @include hide();
  text-align: left;

  @media only screen and (min-width: $breakpoint-show-nav) {
    @include unhide();
    font-size: 1.1em;
  }

  &.is-visible {
    @include unhide();
  }
}

.nav-right {
  text-align: right;
}

.nav-menu-item {
  display: block;
  line-height: 1;
  margin-left: 20px;
  margin-bottom: 15px;
  transition: all .2s ease-in-out;
  text-decoration: inherit;

  @media only screen and (min-width: $breakpoint-show-nav) {
    display: inline-block;
    margin: 0 10px;
  }

  &:hover {
    // color: $color-primary;
  }

  &.is-active {
    // color: $color-primary;
  }
}

.nav-menu-icon {
  font-size: 23px;
  opacity: 0.9;
  position: absolute;
  right: 10px;
  top: 18px;

  @media only screen and (min-width: $breakpoint-show-nav) {
    @include hide();
  }
}

.nav-name {
  color: black;
  font-weight: 500;
}
